
<form #f="ngForm" [formGroup]="form" (ngSubmit)="login(f.value)">

    <mat-card class="example-card" style="width:400px">
        
        <mat-card-title>Login</mat-card-title>
    

    <div class="form-group">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Username"  formControlName="userName">
        <mat-error *ngIf="userName.errors && userName.touched && userName.errors.required">
          Please enter a valid Username
        </mat-error>

        <mat-error *ngIf="userName.errors && userName.errors.minlength">
            Username should be min {{userName.errors.minlength.requiredLength}} chars
          </mat-error>
  
          <mat-error *ngIf="userName.errors && userName.errors.cannotContainSpace">
            Username can not contains space.
          </mat-error>
          
      </mat-form-field>
      &nbsp;
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password" formControlName="password">

        <mat-error *ngIf="password.errors && password.touched && password.errors.required">
            Please enter a password.
          </mat-error>
  
        </mat-form-field>

        <mat-error *ngIf="invalidLogin">
            Incorrect Username and/or password.
          </mat-error>
          <br>
          <button mat-raised-button [disabled]="!f.valid" color="primary">SignIn</button>
    </div>
</mat-card>
</form>